<div>
	<section class="card">
		<header class="centered"><strong>{{blog.title}}</strong></header>
		<div class="blog-info mt-2 mx-1">
			<span class="left">By {{blog.user.name}} </span>
			<span class="right">Posted on: {{format_date blog.created_at}}</span>
		</div>
		<p class="card-body mt-4">{{blog.post}}</p>
    {{#if (id_checker session_id blog.user_id)}}
    <div class="flex-buttons">
      <button class="left" id="post-delete">Delete</button>
      <button class="right" id="post-update">Update</button>
    </div>
    {{/if}}
		<p class="blog-comments">
			{{#if blog.comments.length}}
      <div class="comment-box">
	    <h5>Comments</h4>
			{{#each blog.comments as |comment|}}
      {{> comments}}
      {{/each}}
			{{/if}}
		</p>
	</section>
</div>

  <div class="comment-card">
      <h2 class="page-title">Add a Comment?</h2>
      <form class="form comment-form">
        <div class="form-group">
          <label for="comment-post">Comment Post</label>
          <input class="form-input" type="text" id="comment-post" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Add New Comment</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/newcomment.js"></script>
{{#if id_checker}}
<script src="/js/deletepost.js"></script>
{{!-- <script src="/js/updatepost.js"></script> --}}
{{/if}}